* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

.container {
	max-width: 50rem;
	padding: 1.5em;
	margin: auto;
}

.container form fieldset {
	padding: 1em;
	background: #F5F5F5;
	border: 1px solid #ddd;
	font-size: 1rem;
}

.container form fieldset legend {
	padding: .7em .5em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 2rem;
}

.container form fieldset p {
	margin: 1.5em 0 1em 0;
}

.container form fieldset input,
.container form fieldset textarea,
.container form fieldset button {
	border: 1px solid #ddd;
	width: 100%;
	padding: .7em 0;
}

#submit-button {
	background-color: #6495ED;
	color: #fff;
	width: 15%;
	margin-top: 1.5em;
}

@media only screen and (max-width:50rem) {
	.container form fieldset legend {
		padding: 1em .7em;
	}

	.container form fieldset .full {
		margin: 7em 0 0 0;
	}

	.container form .name {
		float: left;
		width: 48%;
	}

	.container form .email {
		margin-left: 0;
		width: 48%;
		float: right;
	}

	.container form fieldset button {
		width: 100px;
	}

}
